.login {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

.login__container {
    display: flex;
    flex-direction: column;
}

.login__container > img {
    object-fit: contain;
    height: 400px;
    border: 1px solid black;
}

.loginBtn {
    background-color: black !important;
    color: white !important;
}

.loginBtn:hover {
    background-color: rgba(0, 0, 0, 0.87) !important;
}